*{
    margin: 0;
    padding: 0;
}
.titleLaunches{
    margin: 30px auto;
    text-align: center;
}

body{

}
li{
    list-style-type: none;
    margin: 3px;
}

/*style for Posts*/

#mainPostsBlock{
    display: flex;
}



.mainPostsDiv{
    width: 50%;
}


.postDiv{
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: #ced4dc;
    border-radius: 2%;
}

.postDetailsDiv{
    width: 40%;
    height: 250px;
    background-color: #7f8285;
    position: sticky;
    top: 10px;
    left: 60%;
    border-radius: 2%;
    margin: 5px;
    padding: 5px;
}

h1, h2{
    text-align: center;
}

button{
    width: 80px;
    height: 20px;
}

.postDetailsDiv button{
    margin-left: 45%;
}











/*style for SpaceXComponent*/


.mainLaunchesDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.launchDiv{
    margin: 5px;
    padding: 5px;
    background-color: #ced4dc;
    border: solid #585a5d;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.launchDiv img{
    width: 200px;
}